@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #40dfaf;
  --color-secondary: #5fffca;
  --color-tertiaty: #99a3a2;
}

a { 
  @apply text-green-400;
}

a:hover {
  @apply border-b-2 border-green-400;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
